#users-table {
  .the-list {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;

    table,
    th,
    td {
      background: #ffffff;
      border: 0.5px solid #f0f0f0;
      // border-radius: 8px;
      border-collapse: separate;
      border-spacing: 0px;
    }
    // th {
    //   border-left: 1px;
    //   border-right: 1px;
    //   border-color: #000;
    //   border-style: solid;
    // }
    // th:first-child {
    //   border-left: 0px;
    //   border-right: 1px;
    //   // border-color: #000;
    //   // border-style: solid;
    //   border-radius: 0 0 0 8px;
    // }
  }

  .table-head {
    th {
      font-weight: 500;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #221f20;
      height: 48px;
      display: flex;
      align-items: center;
    }
    td {
      font-weight: 400;
      letter-spacing: 0.05em;
      // text-transform: uppercase;
      color: #221f20;
      height: 48px;
      display: flex;
      align-items: center;
    }
  }
}
